body {
background-image: url(https://img.freepik.com/free-vector/soft-yellow-watercolor-texture-background_1055-10236.jpg?size=626&ext=jpg&ga=GA1.1.1803636316.1700524800&semt=ais);
background-attachment: fixed;
background-position: center-left;
}

h1,h3 {
		color: #ebe0c0;
		border: ridge;
	}

.header {
	background-color: #81604f;
} 

.footer {
	background-color: #81604f;
}

img {
	border: 3.5px solid;
	border-radius: 23px;
	width: 250px;
	height: 250px;
	border: 4px solid #81604f;
	margin: 5px;
}

.box {
	background-color: burlywood;
}

.box-image {
	display: flex;
	justify-content: center;
	flex-wrap;
}